@model estacionamientos.ViewModels.PlayeroCreateVM


@{
    ViewData["Title"] = "Asignar playero a playa";
}


<div class="container" style="max-width: 600px;">
    <h2 class="mb-4">Asignar playero a playa</h2>

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Playero.UsuNyA" class="form-label">Nombre y apellido</label>
            <input asp-for="Playero.UsuNyA" class="form-control" />
            <span asp-validation-for="Playero.UsuNyA" ></span>
        </div>

        <div class="mb-3">
            <label asp-for="Playero.UsuEmail" class="form-label">Correo electrónico</label>
            <input asp-for="Playero.UsuEmail" class="form-control" />
            <span asp-validation-for="Playero.UsuEmail" ></span>
        </div>

        <div class="mb-3">
            <label asp-for="Playero.UsuNomUsu" class="form-label">Nombre de usuario</label>
            <input asp-for="Playero.UsuNomUsu" class="form-control" />
            <span asp-validation-for="Playero.UsuNomUsu" ></span>
        </div>

        <div class="mb-3">
            <label asp-for="Playero.UsuPswd" class="form-label">Contraseña</label>
            <input asp-for="Playero.UsuPswd" type="password" class="form-control" />
            <small class="form-text text-muted"></small>
            <span asp-validation-for="Playero.UsuPswd" ></span>
        </div>

        <div class="mb-3">
            <label asp-for="Playero.UsuNumTel" class="form-label">Teléfono</label>
            <input asp-for="Playero.UsuNumTel" class="form-control" />
            <span asp-validation-for="Playero.UsuNumTel" ></span>
        </div>

      <div class="mb-3">
            <label class="form-label">Playa donde trabajará</label>
            <select asp-for="PlayaId" asp-items="ViewBag.Playas" class="form-select">
            <option value="" selected disabled>-- Selecciona una playa --</option>
            </select>
            <span asp-validation-for="PlayaId"></span>
    </div>

        <button type="submit" class="btn btn-success me-2">Crear</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

        @section Scripts { <partial name="_ValidationScriptsPartial" /> }

    </form>
</div>


